[submodule "depend/cryptopp"]
	path = depend/cryptopp
	url = https://github.com/easybcapp/cryptopp.git
[submodule "depend/rapidjson"]
	path = depend/rapidjson
	url = https://github.com/easybcapp/rapidjson.git
